<!DOCTYPE html>
<html>
  <head>
    <title>GerenciadorDeProjetos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= link_to "Gerenciador de projetos", root_path, class: "root-link" %>
    <div class="content">
      <% unless flash.empty? %>
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>">
            <%= value %>
          </div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
